apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-server
  namespace: livekit
  labels:
    app: echo-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: echo-server
  template:
    metadata:
      labels:
        app: echo-server
    spec:
      containers:
        - name: echo-server
          image: proeducalivekitacr.azurecr.io/echo-server:0.0.12
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: livekit-creds
            - secretRef:
                name: agent-env

          env:
            - name: RABBITMQ_HOST
              valueFrom:
                secretKeyRef:
                  name: bunny-default-user
                  key: host
            - name: RABBITMQ_PORT
              valueFrom:
                secretKeyRef:
                  name: bunny-default-user
                  key: port
            - name: RABBITMQ_USER
              valueFrom:
                secretKeyRef:
                  name: bunny-default-user
                  key: username
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: bunny-default-user
                  key: password
            - name: RABBITMQ_CHANNEL
              value: echo
            - name: SIP_TRUNK_ID
              value: ST_EXJ23oJHE6jj
            - name: SIP_NUMBER
              value: "+34911676104"
            - name: POSTGRES_DB
              value: echo
            - name: POSTGRES_HOST
              value: 10.224.0.5
            - name: AZURE_CONTAINER
              value: sessions
            - name: SIP_CALL_MAX_RETRIES
              value: "60"
            - name: SIP_CALL_WAIT_SECONDS
              value: "10"
            - name: SIP_MAX_CONCURRENT_CALLS
              value: "1"

          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
          readinessProbe:
            httpGet:
              path: /api/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  namespace: livekit
  name: echo-server
spec:
  type: ClusterIP
  selector:
    app: echo-server
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: livekit
  name: echo-server-ingress
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
      - panel.ajimenezh.com
    secretName: echo-server-tls
  rules:
  - host: panel.ajimenezh.com
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: echo-server
            port:
              number: 8080

